@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DigiSolutions Admin</h1>
    <p>Hoşgeldiniz. <a href="/user">Kullanıcıları yönetmek için tıklayınız.</a></p>
</div>
